*.swp
target/
**/*.rs.bk
.DS_Store
*.pdb
exercises/clippy/Cargo.toml
exercises/clippy/Cargo.lock
rust-project.json
.idea
.vscode/*
!.vscode/extensions.json
*.iml
*.o
public/
.direnv/

# Local Netlify folder
.netlify
/exercises/03_if/if1.rs
/exercises/03_if/if2.rs
/exercises/03_if/if3.rs
/exercises/03_if/README.md
